<div class="app flex-row align-items-center animated fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <h1>Đăng ký</h1>
                        <p class="text-muted">Tạo tài khoản nhà tuyển dụng</p>

                        <form name="signupForm" ng-submit="doSignup(userSignup)">
                            <div class="input-group mb-1">
                                <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Họ tên" ng-model="userSignup.name" id="name">
                            </div>

                            <div class="input-group mb-1">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Email" id="email" ng-model="userSignup.email">
                            </div>

                            <div class="input-group mb-1">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Mật khẩu" id="password" ng-model="userSignup.password">
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" id="repass" ng-model="userSignup.repass">
                            </div>

                            <button type="submit" class="btn btn-block btn-success main-backgroud">Đăng ký</button>
                        </form>

                    </div>
                    <div class="card-footer p-2">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>facebook</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-google-plus" type="button">
                                    <span>google</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
