<div class="filter-user">
    <ul>
        <li>
            <select class="form-control">
                <option>Lọc cơ bản</option>
                <option>Lọc nâng cao</option>
            </select>
        </li>

        <li><a href="" title="">Vị trí làm việc</a></li>
        <li><a href="" title="">Ca làm việc</a></li>
        <li><a href="" title="">Kinh nghiệm</a></li>
        <li><a href="" title="">Mức lương</a></li>
        <li><a href="" title="">Ngoại hình</a></li>
        <li><a href="" title="">Giới tính</a></li>
        <li><a href="" title="">Bán kính tìm kiếm</a></li>
    </ul>
</div>

<div class="animated fadeIn">

    <div class="list-profile">
        <div class="row row-s">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-s" ng-repeat="user in Userdata">
                <div class="card item-card">
                    <div class="row row-s">
                        <div class="col-lg-12 col-s">
                            <div class="img-avatar avatar-dash">
                                <!--<a data-remodal-target="modal" ng-click="openModal($event)">-->
                                <a href="#!/viewprofile/{{user.userid}}">
                                    <img src="{{user.photourl}}" />
                                </a>
                                <i class="fa fa-play-circle play-button"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 col-s">
                            <div class="user-info">
                                <h2>{{user.name}}</h2>
                                <p>{{user.createdAt}}</p>
                                <p>{{user.address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-top-care">
                        <div class="experience">
                            <h3>Kinh nghiệm</h3>
                            <div class="company">
                                <p>Nhà hàng, khách sạn, cà phê....</p>
                            </div>
                        </div>
                        <div class="care-list">
                            <ul>
                                <li>
                                    <button>Thu ngân</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="button-hide">
                    <button>Tuyển</button>
                    <button>Ẩn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="remodal" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Remodal</h1>
        <p>
            Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
        </p>
        <br>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
        <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
    </div>
</div>
<!--<div ng-controller="toastrWelcome"></div>-->
