<header class="app-header navbar">
    <!--<button class="navbar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" ui-sref="app.main"></a>
    <ul class="nav navbar-nav hidden-md-down b-r-1">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>

    </ul>-->
    <ul class="nav navbar-nav ml-auto hidden-md-down">
        <li class="nav-item">
            <a href="#!/seekerdash" title="">Khám phá</a>
        </li>
        <li class="nav-item">
            <a href="#!/login" title="">Đăng nhập</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link nav-pill" href="#"><i class="icon-list"></i></a>
        </li>-->
    </ul>
    <!--<ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="Khám phá" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/employer/dash">
            <ion-nav-view name="tab-dash"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Hoạt động" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/employer/activity">
            <ion-nav-view name="tab-activity"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Matching" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/employer/chats">
            <ion-nav-view name="tab-chats"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Lịch phỏng vấn" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/employer/interview">
            <ion-nav-view name="tab-interview"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Hồ sơ" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/employer/account">
            <ion-nav-view name="tab-account"></ion-nav-view>
        </ion-tab>

    </ion-tabs>-->
</header>
