<div class="app flex-row align-items-center animated fadeIn">
    <div class="container">
        <div class="row row-s">
            <div class="col-xs-12 col-md-6 col-lg-4 col-s">
                <div class="card card-accent-info job-card">
                    <div class="card-header card-header-text">
                        Job
                    </div>
                    <div class="card-block">
                        <p>Vị trí</p>
                        <p>Mức lương</p>
                        <p>Hình thức làm việc</p>
                        <p>Số lượng</p>
                        <p>Trạng thái tuyển</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 col-s">
                <div class="card card-accent-info job-card">
                    <div class="card-header card-header-text">
                        Job
                    </div>
                    <div class="card-block">
                        <p>Vị trí</p>
                        <p>Mức lương</p>
                        <p>Hình thức làm việc</p>
                        <p>Số lượng</p>
                        <p>Trạng thái tuyển</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 col-s">
                <div class="card card-accent-info job-card">
                    <div class="card-header card-header-text">
                        Job
                    </div>
                    <div class="card-block">
                        <p>Vị trí</p>
                        <p>Mức lương</p>
                        <p>Hình thức làm việc</p>
                        <p>Số lượng</p>
                        <p>Trạng thái tuyển</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
