<div class="em-profile">
    <div class="row row-s">
        <div class="col-sm-12 col-md-6 col-s">
            <div class="big-img">
                <img src="{{userData.photourl}}" />
                <i class="fa fa-play-circle play-button"></i>
            </div>

            <div class="small-img">
                <ul>
                    <li><img src="{{userData.photourl}}" /></li>
                    <li><img src="{{userData.photourl}}" /></li>
                    <li><img src="{{userData.photourl}}" /></li>
                    <li><img src="{{userData.photourl}}" /></li>
                </ul>

                <div class="button-hide button-hide-profile">
                    <button>Tuyển</button>
                    <button>Ẩn</button>
                </div>
            </div>

            
        </div>

        <div class="col-sm-12 col-md-6 col-s">
            <div class="right-em-info">
                <div class="em-info">
                    <h1>{{userData.name}}</h1>
                    <div class="row row-s">
                        <div class="col-xs-12 col-sm-8 col-s">
                            <p>{{calculateAge(userData.birth)}} tuổi</p>
                            <p>{{userData.address}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-s">
                            <p><span>Nữ</span>-<span>{{userData.height}}</span>-<span>{{userData.weight}}</span></p>
                            <p ng-show="userData.figure">Ngoại hình ưa nhìn</p>
                        </div>
                    </div>
                </div>

                <div class="ex-em">
                    <h2><i class="fa fa-briefcase"></i>Kinh nghiệm</h2>

                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <p>5 tháng</p>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <h4>Tokyo Deli</h4>
                                    <p>Phục vụ</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <p>5 tháng</p>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <h4>Tokyo Deli</h4>
                                    <p>Phục vụ</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <p>5 tháng</p>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <h4>Tokyo Deli</h4>
                                    <p>Phục vụ</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="hobby">
                    <h2>Mong muốn</h2>
                    <button>Phục vụ</button>
                    <button>Thu ngân</button>
                    <button>Đầu bếp</button>
                </div>

                <div class="time-work">
                    <h2>Thời gian đi làm</h2>
                </div>
            </div>
        </div>
    </div>
</div>